<!--  define the type of the fileso the browser knowes how to render it-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our Frontend App</title>
</head>
<body>
    <h> Our biggest title</h>
<!--open some space to acces python variables-->
    <p>{{ p }}</p>
    <h3> Smaller title</h3>


    <h1> The list of tasks:</h1>
    <ul>
     {% for one_task in tasks %}
        <li>Name: {{ one_task.name}}, Type:{{one_task.task_type}}</li>
        {% endfor %}
    </ul>
</body>
</html>